.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links2-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text4 {
  margin-left: var(--dl-space-space-twounits);
}














































































@media(max-width: 767px) {
  .navigation-links2-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links2-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.bob-the-robber-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.bob-the-robber-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.08);
}
.bob-the-robber-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.bob-the-robber-navlink {
  display: contents;
}
.bob-the-robber-image {
  width: auto;
  height: 75px;
  text-decoration: none;
}
.bob-the-robber-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.bob-the-robber-container3 {
  display: flex;
  flex-direction: column;
}
.bob-the-robber-container4 {
  display: flex;
  flex-direction: column;
}
.bob-the-robber-navlink1 {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
.bob-the-robber-icon {
  width: 16px;
  height: 16px;
}
.bob-the-robber-navlink2 {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
.bob-the-robber-icon02 {
  width: 16px;
  height: 16px;
}
.bob-the-robber-navlink3 {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
.bob-the-robber-icon04 {
  width: 16px;
  height: 16px;
}
.bob-the-robber-navlink4 {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
.bob-the-robber-icon06 {
  width: 16px;
  height: 16px;
}
.bob-the-robber-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.bob-the-robber-link {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #800080;
}
.bob-the-robber-icon08 {
  width: 16px;
  height: 16px;
}
.bob-the-robber-burger-menu {
  display: none;
}
.bob-the-robber-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.bob-the-robber-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.bob-the-robber-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.bob-the-robber-container5 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.bob-the-robber-image1 {
  height: 2rem;
}
.bob-the-robber-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bob-the-robber-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.bob-the-robber-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.bob-the-robber-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.bob-the-robber-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.bob-the-robber-div {
  align-self: center;
}
@media(max-width: 991px) {
  .bob-the-robber-icon10 {
    display: flex;
  }
}
@media(max-width: 767px) {
  .bob-the-robber-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .bob-the-robber-btn-group {
    display: none;
  }
  .bob-the-robber-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .bob-the-robber-header {
    padding: var(--dl-space-space-unit);
  }
  .bob-the-robber-mobile-menu {
    padding: 16px;
  }
}
