.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links2-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text4 {
  margin-left: var(--dl-space-space-twounits);
}














































































@media(max-width: 767px) {
  .navigation-links2-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links2-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-header {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.88);
}
.home-container03 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-container05 {
  display: flex;
  flex-direction: column;
}
.home-container06 {
  display: flex;
  flex-direction: column;
}
.home-navlink {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
.home-icon {
  width: 16px;
  height: 16px;
}
.home-navlink1 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
.home-icon02 {
  width: 16px;
  height: 16px;
}
.home-navlink2 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
.home-icon04 {
  width: 16px;
  height: 16px;
}
.home-navlink3 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
.home-icon06 {
  width: 16px;
  height: 16px;
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #800080;
}
.home-icon08 {
  width: 16px;
  height: 16px;
}
.home-burger-menu {
  display: none;
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container07 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 99px;
  padding-left: 67px;
  padding-right: 60px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/grainy-1500w.png");
  background-position: center;
}
.home-background {
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image1 {
  right: 0px;
  bottom: 0px;
  height: 90%;
  position: absolute;
  object-fit: cover;
}
.home-container08 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container09 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image2 {
  height: 100%;
  z-index: 100;
  object-fit: cover;
}
.home-container10 {
  flex: 0 0 auto;
  width: auto;
  height: 812px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-hero-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-text05 {
  color: rgb(255, 255, 255);
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
}
.home-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-caption {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-register {
  height: auto;
}
.home-text08 {
  width: 100%;
  font-size: 24px;
  max-width: 85px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 24px;
}
.home-caption1 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 22px;
  padding-bottom: 2px;
}
.home-container14 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container15 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container16 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container17 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-notes {
  width: auto;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-first {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
}
.home-header1 {
  width: auto;
  height: auto;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.home-list {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-note {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-point {
  width: auto;
  height: auto;
  display: flex;
  max-width: 40px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  background-color: var(--dl-color-gray-black);
}
.home-text36 {
  width: auto;
  height: auto;
  font-size: 18px;
  line-height: 27px;
}
.home-text37 {
  font-size: 27px;
}
.home-note1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-point1 {
  width: auto;
  height: auto;
  display: flex;
  max-width: 40px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  background-color: var(--dl-color-gray-black);
}
.home-navlink4 {
  width: auto;
  height: auto;
  padding: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
  background-color: #2881b3;
}
.home-text39 {
  width: auto;
  height: auto;
}
.home-image3 {
  width: auto;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1;
}
.home-second {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.home-content1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}
.home-container18 {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header2 {
  width: auto;
  height: auto;
  margin: var(--dl-space-space-unit);
  font-size: 50px;
  font-weight: 600;
}
.home-text42 {
  font-size: 30px;
  font-style: normal;
}
.home-text43 {
  font-size: 30px;
  font-style: normal;
}
.home-text44 {
  font-size: 20px;
  font-weight: 400;
}
.home-text45 {
  font-style: normal;
}
.home-register1 {
  width: auto;
  height: auto;
  padding: var(--dl-space-space-threeunits);
  align-self: center;
  text-decoration: none;
  background-color: #800080;
}
.home-icon20 {
  width: 16px;
  height: 16px;
}
.home-image4 {
  width: auto;
  height: auto;
}
.home-black {
  gap: 120px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/grainy-1500w.png");
}
.home-container19 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container20 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-color: #AA82FF;
}
.home-content2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: 41px;
  padding-right: 40px;
  flex-direction: column;
}
.home-description {
  width: 100%;
  font-size: 18px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  line-height: 27px;
}
.home-text47 {
  font-style: normal;
  font-weight: 600;
}
.home-text48 {
  font-style: normal;
  font-weight: 600;
}
.home-text49 {
  font-style: normal;
  font-weight: 600;
}
.home-text50 {
  font-style: normal;
  font-weight: 600;
}
.home-text51 {
  font-style: normal;
  font-weight: 600;
}
.home-text52 {
  font-style: normal;
  font-weight: 600;
}
.home-text53 {
  font-style: normal;
  font-weight: 600;
}
.home-text54 {
  font-style: normal;
  font-weight: 600;
}
.home-text55 {
  font-style: normal;
  font-weight: 600;
}
.home-text56 {
  font-style: normal;
  font-weight: 600;
}
.home-text68 {
  width: 100%;
  font-size: 20px;
  text-align: center;
}
.home-reveal {
  width: 100%;
}
.home-scrollbar {
  width: 100%;
}
@media(max-width: 991px) {
  .home-icon10 {
    display: flex;
  }
  .home-text08 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  .home-first {
    flex-direction: column;
  }
  .home-content {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-image3 {
    flex: 0 0 auto;
    width: 100%;
  }
  .home-second {
    flex-direction: column;
  }
  .home-content1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-btn-group {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-hero {
    height: 60vh;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-hero-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-caption {
    gap: var(--dl-space-space-unit);
  }
  .home-register {
    padding: var(--dl-space-space-halfunit);
  }
  .home-text08 {
    font-size: 18px;
    line-height: 18px;
  }
  .home-caption1 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-content {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-content1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-register1 {
    width: 100%;
  }
  .home-black {
    gap: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-content2 {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-description {
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-text05 {
    font-size: 50px;
  }
  .home-text06 {
    font-size: 50px;
  }
  .home-header1 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-list {
    gap: var(--dl-space-space-unit);
  }
  .home-point {
    width: 100%;
    max-width: 20px;
  }
  .home-text36 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text37 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-point1 {
    width: 100%;
    max-width: 20px;
  }
  .home-content1 {
    gap: var(--dl-space-space-twounits);
  }
  .home-header2 {
    font-size: 30px;
    line-height: 36px;
  }
}
